.App {
	display: flex;
	position: relative;
}

.App .container {
	flex-grow: 1;
	padding: 0 6rem;
}

/* 992px */
@media only screen and (max-width: 62em) {
	.App .container {
		padding-inline: 2rem;
	}
}
