@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* variables */
:root {
	--heading-color: #444;
	--text-color: #999;
	--primary-color: #8d69f1;
	--highlight-color: #d13267;
	--bg-color: #f4f4f4;
}

/* base styles */
html {
	font-size: 62.5%;
}

body {
	font-family: Poppins, sans-serif;
	margin: 0;
	font-size: 1.6rem;
	background: var(--bg-color);
	width: 100%;
}

::selection {
	background-color: var(--primary-color);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

a,
a:link {
	text-decoration: none;
	color: var(--primary-color);
}

/* any link inside a button should inherit the color of the button */
.btn a {
	color: inherit;
}

/* layout */
.page-title {
	font-size: 2rem;
	color: var(--heading-color);
	display: inline-block;
}

.btn {
	width: fit-content;
	background: #fff;
	padding: 0.8rem 1.2rem;
	border-radius: 0.4rem;
	color: var(--primary-color);
	cursor: pointer;
	font-size: 1.8rem;
	border: 0.1rem solid var(--primary-color);
}

.btn:hover {
	color: #fff;
	background-color: var(--primary-color);
}

.btn-primary {
	color: #fff;
	background-color: var(--primary-color);
	padding: 1.5rem 3rem;
	font-size: 2rem;
	transition: all ease-in-out 0.2s;
}

.btn-primary:hover {
	border-radius: 4rem;
	filter: contrast(80%);
}

.details {
	color: var(--text-color);
	font-size: 1.6rem;
	margin-bottom: 4rem;
}

/* forms */
label {
	display: block;
	margin: 2.4rem auto;
}

label span {
	display: block;
	margin-bottom: 0.6rem;
}

input,
textarea {
	padding: 0.8rem 0.6rem;
	font-size: 1.8rem;
	color: #777;
	width: 100%;
	box-sizing: border-box;
	border: 0.1rem solid #ddd;
	border-radius: 0.4rem;
}

textarea {
	min-height: 16rem;
}

.error {
	color: red;
	background: pink;
	border: 0.1rem solid red;
	border-radius: 0.4rem;
	padding: 0.8rem;
	margin: 1rem 0;
}
